body{margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 20px; line-height: 30px; }

header{background-color: lightblue; text-align: center; padding-top: 50px; padding-bottom: 50px}
h1, h2{font-family: 'Indie Flower', cursive;}

header h1{color: #795548; font-size: 50px}

header img{border-radius: 1000px; width: 300; border: 20px solid; color: #795548;}

main{max-width: 800px;
margin: 0 auto}

main img{max-width: 100%}
h2{font-size: 30px; color:#795548; margin: 40px 0px 10px; text-align: center;}

a{color:#795548}
a:hover{color: white;background-color: #795548}
footer{background-color: lightblue; text-align: center; color: white; padding: 50px}
footer p{margin: 0}
footer a{color: #795548}
footer a:hover{opacity: .5}
p.caption{color:#999999; font-style:italic;margin-top:0}